[database]
   name = "mysql"
   username = "root"
   password = "123456"
   addr = "172.17.0.3"
   port = "3306"
   schema = "oauth2"
   local = "Asia/Shanghai"
   param = "?"

[redis]
#user=root
#password=123456
port="6379"
addr="172.17.0.2"
#db=8

[system]
#addr = "localhost"
port = "8080"