<html>
    <h1>
		<a href="/authorize?response_type=code&client_id=1234&state=xyz&scope=everything&redirect_uri={{ .code}}">
		    Code
		</a>
		<br/>
		<a href="/authorize?response_type=token&client_id=1234&state=xyz&scope=everything&redirect_uri={{ .token}}">
		    Implict
		</a>
		<br/>
		<a href="/app/password">
		    Password
		</a>
		<br/>
		<a href="/app/client_credentials">
		    Client Credentials
		</a>
		<br/>
		<a href="/app/assertion">
		    Assertion
		</a>
		<br/>
    </h1>
</html>
