<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="../static/css/amaze.min.css">
	<link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
	<div id="app" class="container" style="max-width:400px;margin:0 auto">
		<div class="protocol">
		  <header class="title">
		  	<div class="prev-arrow"><a class="backprev" href="javascript:history.go(-1);"></a></div>
		    <h1>玛娜花园注册协议</h1>
		  </header>
		  <section class="breakbox"></section>
		  <div class="regist-protocol">
		    <p>欢迎您使用玛娜花园的服务！</p>
		    <p>为使用玛娜花园的服务，您应当阅读并遵守《玛娜花园注册协议》。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款。除非您已阅读并接受本协议所有条款，否则您无权使用玛娜花园提供的服务。您使用玛娜花园的服务即视为您已阅读并同意上述协议的约束。</p>

		    <h5>一、您的账户</h5>

		    <p>如果您使用任何玛娜花园服务，可能需要注册一个玛娜花园帐户，您应负责维护您的帐户和密码的保密性并限制第三方使用/访问您的计算机或移动设备，并且，您同意对在您的帐户和密码下发生的所有活动承担责任。如果您未满18周岁，您只能在父母或监护人的参与下使用玛娜花园服务。玛娜花园保留自行决定拒绝提供服务、关闭帐户、删除或编辑内容的权利。</p>

		    <h5>二、用户数据信息安全的保护</h5> 
		    <p>保护用户数据信息安全是玛娜花园的一项基本原则。</p>

		    <p>2.1玛娜花园账号（即玛娜花园用户ID）的所有权归用户所有，用户完成注册申请手续后，获得玛娜花园账号的使用权。用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将转化为用户个人数据。如果因注册信息不真实而引起问题并由此导致的不良结果，将由用户本人承担，并且玛娜花园保留终止用户使用服务的权利。</p>

		    <p>2.2用户不应将其账号、密码转让或出借予他人使用。如用户发现其账号遭他人非法使用，应立即通知玛娜花园。因黑客行为或用户的保管疏忽导致账号、密码遭他人非法使用，由用户承担责任。发生下列情况时，玛娜花园不承担任何责任：</p>
		    <p>(1)由于用户自己将用户账号和密码告知他人或与他人共享账户，由此导致的任何用户资料的泄露；</p>
		    <p>(2)任何黑客攻击、计算机病毒侵入、政府部门管制和其他不可抗力等造成的个人资料泄露、丢失、被盗用或被窜改等；</p>
		    <p>(3)因与玛娜花园链接的其它网站造成用户资料泄露及由此而导致的任何法律争议和后果。</p>

		    <p>2.3用户可以向玛娜花园要求删除其个人数据。如果用户数据自主授权提供于第三方，用户需要第三方删除其数据时，需要用户本人跟第三方自主协商解决。</p>

		    <p>2.4用户可以在玛娜花园内存入个人数据，也可通过玛娜花园将其个人数据自主交易给第三方。</p>

		    <p>2.5玛娜花园设计了各种创新方式，来保护用户数据。具体包含但不限于以下措施：</p>
		    <p>(1)多级加密：玛娜花园努力使用各种最先进的加密技术来保护用户的密码和数据安全。</p>
		    <p>(2)数据保险箱：存入保险箱的数据只有您本人能看到，对他人（如黑客）来说就是一堆乱码。</p>

		    <p>2.6玛娜花园不对外公开或向第三方提供您的注册资料，除非：</p>
		    <p>(1)当收到监管机构或执法部门信息请求时，且出具与之相应的法律文件时，如传票或调查函；</p>
		    <p>(2)用户授权玛娜花园公开、透露相关注册资料；</p>
		    <p>(3)任何第三方盗用、冒用或未经许可擅自披露、使用或对外公开用户的个人隐私资料；</p>
		    <p>(4)用户自己要求玛娜花园提供特定服务时，需要把注册资料提供给第三方的；</p>
		    <p>玛娜花园承诺，对于要求提供的信息，应当在法律允许的范围内尽可能保持透明。玛娜花园对所有的请求都进行了慎重的审查，以确保其具备合法依据。</p>

		    <h5>三、服务内容</h5>
		    <p>玛娜花园是用户DIY跨平台整合自主数据价值的混业红利生态。基于独创的数据可计量资产化算法开发。用户可将各种行为产生的数据存入玛娜花园，通过自主授权交易获得数据红利。</p>

		    <h5>四、评论、意见、信息交流和其他内容服务</h5>

		    <p>4.1用户可以发布内容、评论、意见、图片和其他内容，以及提出建议、想法、意见、问题或其他信息，前提是其内容不是非法、淫秽、威胁、诽谤、侵犯隐私、侵犯知识产权（包括公开权）或以其他形式对第三方构成伤害、侵犯或引起公众反感，也不包含软件病毒、政治宣传、商业招揽、连锁信、大宗邮件或任何形式的“垃圾邮件”或未经要求的商业电子信息。您不得使用虚假的电子邮件地址、手机号码、冒充任何他人或实体，或以其它方式对内容的来源进行误导。玛娜花园保留清除或编辑这些内容的权利（但非义务），且不对用户发布的内容负责。</p>

		    <p>4.2用户可以在玛娜花园里选择您想要看的信息，但任何时候您都不得以本协议未明确约定或玛娜花园未书面许可的方式要求玛娜花园屏蔽、过滤相关信息。</p>

		    <p>4.3用户同意玛娜花园或第三方可以根据您的个人数据信息向您发送您可能感兴趣的数据服务信息。</p>

		    <p>4.4玛娜花园不承诺发送的数据服务信息的准确性和完整性，玛娜花园依照法律的规定对信息服务商履行相关义务，您应当自行判断服务信息的真实性并对自己的行为负责，除法律明确规定外，您因依该服务信息进行交易而遭受的损失或损害，玛娜花园不承担责任。</p>

		    <p>4.5您同意，对玛娜花园中出现的服务信息，您应审慎判断其真实性和可靠性，除法律明确规定外，您应对依该服务信息进行的交易负责。</p>

		    <p>4.6用户不得利用“玛娜花园”账号或本服务进行如下行为： </p>
		    <p>(1)提交、发布虚假信息，或盗用他人头像或资料，冒充、利用他人名义的； </p>
		    <p>(2)强制、诱导其他用户关注、点击链接页面或分享信息的； </p>
		    <p>(3)虚构事实、隐瞒真相以误导、欺骗他人的； </p>
		    <p>(4)利用技术手段批量建立虚假账号的； </p>
		    <p>(5)利用“玛娜花园”账号或本服务从事任何违法犯罪活动的； </p>
		    <p>(6)制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的； </p>
		    <p>(7)其他违反法律法规规定、侵犯其他用户合法权益、干扰“玛娜花园”正常运营或玛娜花园未明示授权的行为。</p>

		    <p>4.7用户须对利用“玛娜花园”账号或本服务传送信息的真实性、合法性、无害性、准确性、有效性等全权负责，与用户所传播的信息相关的任何法律责任由用户自行承担，与玛娜花园无关。如因此给玛娜花园或第三方造成损害的，用户应当依法予以赔偿。 </p>

		    <h5>五、收费服务</h5>
		    <p>5.1玛娜花园的部分服务是以收费方式提供的，如您使用收费服务，请遵守相关的协议。</p>

		    <p>5.2玛娜花园可能根据实际需要对收费服务的收费标准、方式进行修改和变更，玛娜花园也可能会对部分免费服务开始收费。前述修改、变更或开始收费前，玛娜花园将在相应服务页面进行通知或公告。如果您不同意上述修改、变更或付费内容，则应停止使用该服务。</p>

		    <h5>六、协议的生效与变更</h5>
		    <p>6.1用户使用玛娜花园的服务即视为您已阅读本协议并接受本协议的约束。</p>

		    <p>6.2玛娜花园有权在必要时修改本协议条款。您可以在相关服务页面查阅最新版本的协议条款。</p>

		    <p>6.3本协议条款变更后，如果您继续使用玛娜花园提供的软件或服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用玛娜花园提供的软件或服务。</p>

		    <h5>七、服务的变更、中断、终止</h5>
		    <p>7.1玛娜花园可能会对服务内容进行变更，也可能会中断、中止或终止服务。</p>

		    <p>7.2您理解并同意，玛娜花园有权自主决定经营策略。在玛娜花园发生合并、分立、收购、资产转让时，玛娜花园可向第三方转让本服务下相关资产；玛娜花园也可在单方通知您后，将本协议下部分或全部服务转交由第三方运营或履行。具体受让主体以玛娜花园通知的为准。</p>

		    <p>7.3如发生下列任何一种情形，玛娜花园有权不经通知而中断或终止向您提供的服务：</p>
		    <p>（1）根据法律规定您应提交真实信息，而您提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明；</p>
		    <p>（2）您违反相关法律法规或本协议的约定；</p>
		    <p>（3）按照法律规定或主管部门的要求；</p>
		    <p>（4）出于安全的原因或其他必要的情形。</p>

		    <h5>八、免责</h5>
		    <p>玛娜花园将尽力提供一切可能的技术和设备维护用户的资料安全，并努力提供最好的服务。但出现下列情形之一的，玛娜花园对用户可能产生的任何损失不承担责任，也不承担其它连带责任：</p>
		    <p>(1)因任何自然灾害、政府公告的传染性疾病、战争、恐怖主义袭击、社会动乱、骚乱、罢工、紧急状态或任何政府机关的强制性行政行为导致玛娜花园无法提供网络服务或履行其相关义务；</p>
		    <p>(2)因其他不能预见、不能控制、不能避免的事件导致玛娜花园无法提供网络服务或履行其相关义务；</p>
		    <p>(3)由于非故意或不可抗拒的原因（包括但不限于系统维护和升级），导致用户数据损失、服务停止的；</p>
		    <p>(4)由于电子设备、电子网络、通讯系统等原因，网络服务出现中断、停顿、延迟、数据错误等情况的；</p>
		    <p>(5)用户授权玛娜花园公开、透露用户的信息或资料；</p>
		    <p>(6)相关的法律法规或监管机构、执法部门要求玛娜花园提供用户信息或资料的；</p>
		    <p>(7)用户身份被仿冒，账号或密码被窃取、盗用，或在任何其他情况下任何第三方盗用、冒用或未经许可擅自披露、使用或对外公开用户的信息或资料，以致用户信息资料外泄及被盗用；</p>
		    <p>(8)用户未遵守玛娜花园的相关规定，包括但不限于隐瞒、伪造身份、提供虚假资料等。</p>

		    <h5>九、其他</h5>
		    <p>9.1玛娜花园郑重提醒用户注意本协议中免除玛娜花园责任和限制用户权利的条款，请用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本协议。 </p>
		    <p>9.2本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和玛娜花园之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交玛娜花园运营方（上海承泰信息科技股份有限公司）住所地有管辖权的人民法院管辖。 </p>
		    <p>9.3本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。</p>
		  </div>
		</div>
	</div>
</body>
</html>
